<?xml version="1.0"?>
<launch>
<!--Comentario-->

<param name="r"   type = "double"    value="0.0485"/>
<param name="lx"   type = "double"    value="0.0975"/>
<param name="ly"   type = "double"    value="0.103"/>

  <node name="Pose_Estimation" pkg="jetauto_pose_estiamation" type="pose_estimation.py" output="screen"/>
  <include file="$(find jetauto_drivers)/launch/jetauto_drivers.launch"/>
  <node name="CMD_Motors" pkg="jetauto_driver_speed" type="cmd_motors.py" output="screen"/>
  <!--<node name="Speed_Driver" pkg="jetauto_driver_speed" type="driver_speed.py" output="screen"/>-->
  <!--<include file="$(find jetauto_driver_speed)/launch/jetauto_driver_speed.launch"/>-->

</launch>
